.fondo {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: row;
}
.tarjeta {
  border: 1px solid black;
  background-color: #ffffff;
  width: 20rem;
}

.circulo-verde {
  border-radius: 50%;
  background-color: green;
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 10%;
}
.circulo-rojo {
  border-radius: 50%;
  background-color: red;
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 10%;
}

.encabezado {
  border: 1px solid red;
  display: flex;
}

.datos {
  display: grid;
}

.datos-arriba {
  display: flex;
  width: auto;
}

.datos-abajo {
  display: flex;
  width: auto;
}

.taponamiento {
  border: 1px solid black;
  width: 50%;
}

.evaporacion {
  border: 2px solid black;
  width: 50%;
}

.per-viento {
  border: 1px solid black;
  width: 50%;
}
.rinde-humedo {
  border: 1px solid black;
  background-color: green;
  width: 50%;
}

.calidad {
  border: 1px solid black;
  width: 50%;
}
.rinde-seco {
  background-color: #b3d838;
  border: 1px solid black;
  width: 50%;
}
